@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 218, 215, 205;
  --green-light-1-rgb: 163, 177, 138;
  --green-light-2-rgb: 88, 129, 87;
  --green-dark-1-rgb: 58, 90, 64;
  --green-dark-2-rgb: 52, 78, 65;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--green-dark-2-rgb));
  background: rgb(var(--background-rgb));
}
